:root {
    --gap: 5px;
    --btnWidth: 45px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body {
    height: 100vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #ddd;
    font-size: 14px;
    font-style: italic;
}

#calculatorDiv {
    width: 224px;
    padding: 12px;
    background-color: #222;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

#displayDiv {
    background-color: grey;
    border-radius: 4px;
    padding: 5px;
    box-shadow: inset 0 0 5px  rgba(0,0,0,0.7);
    text-align: right;
    font-size: 24px;
    font-family: monospace;
    text-shadow: 0 0 3px rgba(0,0,0,0.3);
}

#displayDiv #currentValue {
    font-size: 14px;
    height: 18px;
}

#displayDiv div{
    height: 24px;
    overflow: hidden;
}

#controlPanelDiv button {
    font-family: monospace;
    height: var(--btnWidth);
    width: var(--btnWidth);
    background-color: rgba(255, 217, 0, 0.842);
    border-radius: 50%;
    border: none;
    font-size: 20px;
    line-height: var(--btnWidth);
    text-align: center;
    color: #222;
}

#controlPanelDiv button:nth-child(10) {
    width: 97px;
    border-radius: 25px;
}

#numPad,
#controlsPad {
    width: 149px;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    margin-bottom: var(--gap);
    justify-content: space-between;
}

#operPad {
    float: right;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin-left: var(--gap);
}