* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body {
    background-color: #222;
}

h1 {
    color: #ddd;
}

#controlPanelDiv {
    width: 200px;
}

#controlPanelDiv button{
    font-family: monospace;
    height: 50px;
    width: 50px;
}

#controlsPad,
#numPad,
#operPad {
    display: inline-block;
}

#numPad,
#controlsPad {
    width: 150px;
}

#operPad {
    width: 50px;
    float: right;
}