:root {
    --gap: 5px;
    --btnWidth: 45px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body {
    height: 100vh;
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #ddd;
}

#controlPanelDiv {
    width: 200px;
}

#controlPanelDiv button {
    font-family: monospace;
    height: var(--btnWidth);
    width: var(--btnWidth);
    border-radius: 50%;
    background-color: gold;
    border: none;
}

#controlPanelDiv button:nth-child(10) {
    width: 98px;
    border-radius: 25px;
}

#numPad,
#controlsPad {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    margin-bottom: var(--gap);
    justify-content: space-between;
}

#operPad {
    float: right;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin-left: var(--gap);
}